<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            ul,
            li {
                list-style-type: none;
            }
        </style>
    </head>
    <body>
        <h2>这是一个新闻页面</h2>
        {{data.lastName}}
        <!-- {{data.title}}
        <br />
        <ul>
            {{each data.list}}
            <li>
                新闻标题{{$index}}: 
                <br>
                新闻内容{{$value.title}}: {{$value.content}}
            </li>
            <br>
            {{/each}}
        </ul>

        {{if data.number < 3000}}
        小于两千我就出现
        {{/if}}


        {{include './public/footer.html'}} -->
    </body>
</html>
