<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="css/base.css">
    </head>
    <body>
        <%- include ('public/header.ejs') -%> 这事一个ejs的模板引擎
        <div class="test-img">
            <img src="images/sports.png" alt="">
        </div>
        <form action="/doAdd" method="POST">
            <label for="">用户名：</label>
            <input type="text" name="username"/>

            <br/>
            <br/>

            <label for="">密　码：</label>
            <input type="text" name="password"/>
            <br/>

            <button type="submit">提交</button>
        </form>
    </body>
</html>
